*{
    margin:0px;
}

.instructions{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 1rem;
    letter-spacing: -4px;
    word-spacing: 3px;
}

.poem{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 1rem;
    margin-top: 4rem;
    letter-spacing: -4px;
    word-spacing: 3px;
} 

.whiteout{
    color: white;
}

.back{
    position: absolute;
    top:15px;
    right:20px;
    font-size: 20px;
    letter-spacing: -1px;
    word-spacing: 2px;
}

.next{
    position: absolute;
    bottom:15px;
    right:20px;
    font-size: 22px;
    letter-spacing: -1px;
    word-spacing: 2px;
}

.table{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    position: absolute;
    right: 150px;
    bottom: 100px;
    text-align: center;
}

td{
    padding-left: 15px;
    padding-right: 15px;
}